config_file/*
!config_file/eval/cls_roc_eval.py.example
!config_file/eval/det_map_eval.py.example
!config_file/process/cls.py.example
!config_file/process/det.py.example
!config_file/process/det_cls.py.example
!config_file/process/det_mining.py.example
!config_file/process/video_det.py.example
!config_file/process/video_det_cls.py.example

models/*
!models/cls/onnx_model
!models/det/onnx_model


script/*
.idea/*
venv/*

module/__pycache__
wrapper/__pycache__
module/classifier/__pycache__
module/dataset/__pycache__
module/detector/__pycache__
module/evaluation/__pycache__
module/image/__pycache__
module/preprocess/__pycache__
module/video/__pycache__

__pycache__/
*.py[cod]
*$py.class


